[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/aburke07
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/aburke07
	label-Verified = -1..+1 group user/aburke07
	push = group user/aburke07
	read = group user/aburke07
	rebase = group user/aburke07
	removeReviewer = group user/aburke07
	submit = group user/aburke07
[access "refs/heads/*"]
	create = group user/aburke07
	push = +force group user/aburke07
	pushMerge = group user/aburke07
	read = group user/aburke07
[access "refs/tags/*"]
	push = group user/aburke07
	push = +force group user/aburke07
